@tailwind base;
@tailwind components;
@tailwind utilities;


*:root {
  --circle-size-lg: 100vh;
  --circle-size-md: 30vh;
  --circle-size-sm: 15vh;
}

body {
  overflow-x: hidden;
}

main {
  position: relative;
  z-index: 1;
}

#main {
  min-height: 100vh;
}

/* .circle {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 0
} */

.circle-size--lg {
  height: var(--circle-size-lg);
  width: var(--circle-size-lg);
}

.circle-size--md {
  height: var(--circle-size-md);
  width: var(--circle-size-md);
}

.circle-size--sm {
  height: var(--circle-size-sm);
  width: var(--circle-size-sm);
}

.circle--lg {
  position: absolute;
  top: calc(calc(var(--circle-size-lg) / -1.7));
  left: 50%;
  transform: translateX(-50%);
}

.circle--md {
  position: absolute;
  top: 50%;
  left: -2vw;
  transform: translateY(-50%);
}

.circle--sm {
  position: absolute;
  bottom: 5vh;
  right: 4vw;
  transform: translateY(-50%);
}

.loader {
	width: 1.5vw;
	height: 1.5vw;
  min-width: 1rem;
  min-height: 1rem;
	border-radius: 100%;
	margin: 2vw;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 1.5s 0.5s linear infinite;
}

/* .loader--left {
} */

.loader--center {
	animation-delay: 0.1s;
}

.loader--right {
	animation-delay: 0.2s;
}
/* 
@media screen and (max-width: 1350px) {
  .circle--md {
    display: none;
  }
} */

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.8);
	}
	75% {
		transform: scale(1.2);
	}
}